In [11]:
import os
import pandas as pd

In [12]:
def read_csv(file_path, encoding='utf-8'):
    with open(file_path, 'r', encoding=encoding) as file:
        return pd.read_csv(file)

In [13]:
import pymysql
from sqlalchemy import create_engine
host = 'localhost'
user = 'root'
password = '0301zhz'
database = 'database_pj'

# 建立到MySQL数据库的连接
conn = pymysql.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

In [14]:
cursor = conn.cursor()
# create_table_query = """
# CREATE TABLE IF NOT EXISTS clone_scan (
#     commit_id VARCHAR(255) PRIMARY KEY,
#     developer VARCHAR(255),
#     commit_time DATETIME
# );
# """
# cursor.execute(create_table_query)
# conn.commit()

In [16]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\user.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[["id","name","is_student","password","s_id","age","gender"]].to_sql('user', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()
conn.close()

   id           name  is_student     password    s_id  age gender
0   1       John Doe           1  password123  S12345   20      M
1   2     Jane Smith           0  password456  W12345   30      F
2   3  Alice Johnson           1  password789  S23456   22      F
3   4   Robert Brown           0  password321  W23456   35      M
4   5    Emily Davis           1  password654  S34567   21      F

In [17]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\caterer.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[["id","name","password","address"]].to_sql('caterer', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()
# conn.close()

   id                  name     password              address
0   1           Happy Meals  password111       123 Elm Street
1   2  Green Veggie Delight  password222       456 Oak Avenue
2   3       Delicious Bites  password333       789 Maple Road
3   4          Tasty Treats  password444        101 Pine Lane
4   5          Healthy Eats  password555  202 Cedar Boulevard

In [18]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\book.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[["id","user_id","caterer_id","time"]].to_sql('book', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   id  user_id  caterer_id                 time
0   1        1           3  2024-05-01 12:30:00
1   2        2           5  2024-05-02 13:00:00
2   3        3           7  2024-05-03 11:45:00
3   4        4           2  2024-05-04 12:15:00
4   5        5           6  2024-05-05 13:30:00

In [19]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\food.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['id','caterer_id','name','price','description']].to_sql('food', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   id  caterer_id                   name  price  \
0   1           1  Grilled Chicken Salad   8.99
1   2           1            Beef Burger   7.49
2   3           2        Vegetarian Wrap   6.99
3   4           2           Quinoa Salad   7.49
4   5           3    Spaghetti Bolognese   9.99

                                         description
0  A healthy salad with grilled chicken, fresh gr...
1  A juicy beef burger with lettuce, tomato, and ...
2  A wrap filled with fresh vegetables, hummus, a...
3  A nutritious salad with quinoa, black beans, c...
4  Traditional Italian pasta with a rich meat sauce.

In [20]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\collect.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['user_id','food_id']].to_sql('collect', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   user_id  food_id
0        1        5
1        2       10
2        3        3
3        1        8
4        2       15

In [21]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\food_type.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['food_id','type']].to_sql('food_type', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   food_id     type
0        1    SALAD
1        1  CHICKEN
2        1  HEALTHY
3        2   BURGER
4        2     BEEF

In [22]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\order.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['id','time','user_id','caterer_id']].to_sql('order', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   id                 time  user_id  caterer_id
0   1  2024-01-15 12:30:00        3           7
1   2  2024-02-10 14:00:00        5           4
2   3  2024-03-12 18:15:00        2           9
3   4  2024-04-05 11:45:00        7           2
4   5  2024-05-01 16:30:00        8           6

In [23]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\order_food.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['order_id','food_id']].to_sql('order_food', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   order_id  food_id
0         1       13
1         1       14
2         2        7
3         2        8
4         3       17

In [24]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\price.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['food_id','time','price']].to_sql('price', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   food_id           time  price
0        1  2024/1/1 0:00   7.99
1        1  2024/2/1 0:00   8.49
2        1  2024/3/1 0:00   8.99
3        1  2024/4/1 0:00   9.49
4        1  2024/5/1 0:00   8.99

In [25]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\root.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['id','password']].to_sql('root', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   id  password
0   0    123456