In [5]:
import os
import pandas as pd

In [1]:
def read_csv(file_path, encoding='utf-8'):
    with open(file_path, 'r', encoding=encoding) as file:
        return pd.read_csv(file)

In [2]:
import pymysql
from sqlalchemy import create_engine
host = 'localhost'
user = 'root'
password = '0301zhz'
database = 'database_pj'

# 建立到MySQL数据库的连接
conn = pymysql.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

In [3]:
cursor = conn.cursor()
# create_table_query = """
# CREATE TABLE IF NOT EXISTS clone_scan (
#     commit_id VARCHAR(255) PRIMARY KEY,
#     developer VARCHAR(255),
#     commit_time DATETIME
# );
# """
# cursor.execute(create_table_query)
# conn.commit()

In [9]:
commit_records_filepath = r'C:\Users\hzZeng\Desktop\data\user.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[["id","name","type","password","s_id","age","gender"]].to_sql('user', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()
conn.close()

   id              name        type          password          s_id  age  \
0   1  Clemence Picardo     student     rW8~*e\|#xAep  333-503-4825   74
1   2    Jaymee Farmloe     student  cW5<6SSi5Qu'6N(~  711-181-8589   59
2   3  Agathe MacCallum     student        gM5#hUID9D  074-309-6845   44
3   4  Sterling Walburn     student     nN6_l3J|xLuzs  513-734-1875   66
4   5      Kat Woolston  instructor       tK9@`=*>H`V  671-203-7490   70

  gender
0      F
1      F
2      F
3      M
4      F

In [11]:
commit_records_filepath = r'C:\Users\hzZeng\Desktop\data\caterer.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[["id","name","password","address","main_food_name"]].to_sql('caterer', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()
# conn.close()

   id         name        password                   address main_food_name
0   1      Centizu    jY5>Q6c\8.?S             5 Maywood Way           taco
1   2      Yakidoo  jT4&W.FIFbey~Q  008 International Circle          salad
2   3         Vipe        zT6&u<'W   21322 Lotheville Center          pasta
3   4  Brainlounge  jM3@lnTI#uAdP.            1 Donald Court        burrito
4   5       Trunyx        rP4%zJ<P       56957 Bluejay Drive          steak

In [12]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\book.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[["id","user_id","caterer_id","time"]].to_sql('book', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   id  user_id  caterer_id                 time
0   1        1           3  2024-05-01 12:30:00
1   2        2           5  2024-05-02 13:00:00
2   3        3           7  2024-05-03 11:45:00
3   4        4           2  2024-05-04 12:15:00
4   5        5           6  2024-05-05 13:30:00

In [13]:
commit_records_filepath = r'C:\Users\hzZeng\Desktop\data\food.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[["id","caterer_id","name","price","description","image_path","ingredient","nutrition","allergen","type"]].to_sql('food', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   id  caterer_id   name  price description  \
0   1           7  sushi   2.78       Dolor
1   2          10  salad   9.66       Dolor
2   3           4   soup   8.25       Ipsum
3   4           8  pizza   9.32       Ipsum
4   5           3   soup   1.74       Ipsum

                                        image_path ingredient nutrition  \
0  http://dummyimage.com/168x100.png/cc0000/ffffff          a         a
1  http://dummyimage.com/175x100.png/dddddd/000000          a         a
2  http://dummyimage.com/221x100.png/ff4444/ffffff          a         a
3  http://dummyimage.com/212x100.png/ff4444/ffffff          a         a
4  http://dummyimage.com/194x100.png/5fa2dd/ffffff          a         a

  allergen           type
0        a        Chinese
1        a  Mediterranean
2        a        Italian
3        a       Japanese
4        a  Mediterranean

In [20]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\collect.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['user_id','food_id']].to_sql('collect', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   user_id  food_id
0        1        5
1        2       10
2        3        3
3        1        8
4        2       15

   food_id     type
0        1    SALAD
1        1  CHICKEN
2        1  HEALTHY
3        2   BURGER
4        2     BEEF

In [14]:
commit_records_filepath = r'C:\Users\hzZeng\Desktop\data\orders.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[["id","time","user_id","caterer_id","is_queue_order","is_finished"]].to_sql('orders', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   id                 time  user_id  caterer_id  is_queue_order  is_finished
0   1  2023-09-18 19:19:37       14          19               0            1
1   2  2024-01-20 06:27:38        7          19               0            1
2   3  2024-01-16 23:12:20        8          14               0            1
3   4  2023-10-25 23:57:19       21          15               0            1
4   5  2023-09-06 22:57:09       42           1               0            1

In [15]:
commit_records_filepath = r'C:\Users\hzZeng\Desktop\data\order_food.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['order_id','food_id']].to_sql('order_food', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   order_id  food_id  quantity
0         1       24         4
1         1       50         3
2         1       45         4
3         2       24         8
4         3       38         9

In [24]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\price.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['food_id','time','price']].to_sql('price', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   food_id           time  price
0        1  2024/1/1 0:00   7.99
1        1  2024/2/1 0:00   8.49
2        1  2024/3/1 0:00   8.99
3        1  2024/4/1 0:00   9.49
4        1  2024/5/1 0:00   8.99

In [25]:
commit_records_filepath = r'D:\FDU\24spring\database\pj\src\main\resources\data\root.csv'
commit_records=read_csv(commit_records_filepath)
print(commit_records.head())
# Write DataFrame to MySQL table
mysql_conn_str = 'mysql+pymysql://root:0301zhz@localhost/database_pj'
engine = create_engine(mysql_conn_str)
commit_records[['id','password']].to_sql('root', con=engine, if_exists='append', index=False)
# Close cursor and connection
cursor.close()

   id  password
0   0    123456